@using Microsoft.AspNetCore.Components.Authorization
@using UI.Components.Common.BaseLayouts
@using UI.Components.Common.Redirects
@using UI.Components.Layout
<CascadingAuthenticationState>
    <Router
        AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies="new[] { typeof(MudBaseLayout).Assembly, typeof(RedirectToLogin).Assembly }">

        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MudBaseLayout)">
                <NotAuthorized Context="context">
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin/>
                    }
                    else
                    {
                        <p role="alert">You are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


